.places {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 0 48px 80px 48px;
}

@media screen and (max-width: 800px) {
  .places {
    padding: 0 24px 80px 24px;
  }
}

@media screen and (max-width: 800px) {
  .places {
    row-gap: 73px;
  }
}
