.places {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 0 48px 90px 48px;
}

@media screen and (max-width: 800px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
    row-gap: 70px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
    row-gap: 48px;
  }
}
