@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local("Inter"), url("./fonts/Inter-Black.woff2") format("woff2"),
    url("./fonts/Inter-Black.woff") format("woff");
}

.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  color: white;
}

.header {
  padding: 28px 0 56px;
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.header__logo {
  margin-right: auto;
}

.header__lang-link {
  color: white;
  background-color: #2a2c2f;
  border: none;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 18px;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 92px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0;
  padding-bottom: 32px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 0;
  padding-bottom: 64px;
}

.lead__image {
  margin: 0;
  max-width: 984px;
}

.lead__caption {
  padding-top: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
}

.img {
  position: absolute;
  z-index: 1;
  top: 45.5%;
}

.intro {
  max-width: 690px;
  margin: 0 auto;
  padding-right: 294px;
  padding-bottom: 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding-bottom: 40px;
}

.intro__text {
  line-height: 1.63;
  margin: 0;
  padding-bottom: 33px;
}

.itnro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-accent {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}
