@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local("Inter"), url("./fonts/Inter-Black.woff2") format("woff2"),
    url("./fonts/Inter-Black.woff") format("woff");
}

.link {
  transition: opacity 0.8s ease;
  opacity: 1;
}

.link:hover {
  opacity: 0.4;
}

.link:active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #2a2c2f;
  color: white;
}

.header {
  padding: 28px 0 56px;
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.header__logo {
  margin-right: auto;
}

.header__lang-link {
  color: white;
  background-color: #2a2c2f;
  border: none;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin-left: 18px;
  text-decoration: none;
}

.header__lang-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 92px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0;
  padding-bottom: 32px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 0;
  padding-bottom: 64px;
}

.lead__image {
  margin: 0;
  max-width: 984px;
}

.lead__caption {
  padding-top: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
}

.img {
  position: absolute;
  z-index: 1;
  top: 45.5%;
}

.intro {
  max-width: 690px;
  margin: 0 auto;
  padding-right: 294px;
  padding-bottom: 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding-bottom: 40px;
}

.intro__text {
  line-height: 1.63;
  margin: 0;
  padding-bottom: 33px;
}

.itnro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-accent {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-bottom: 92px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 92px;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  width: 100%;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  padding-bottom: 48px;
  max-width: 460px;
}

.place__image {
  width: 100%;
  object-fit: cover;
}

.place__text {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
  padding-bottom: 12px;
  margin: 0;
}

.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 48px;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
}

.cover {
  max-width: 1184px;
  margin: 0 auto;
}

.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
}

.cover__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.8s ease;
}

.cover__link:hover::before {
  opacity: 0.8;
}

.cover__title {
  position: relative;
  text-align: center;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  z-index: 1;
}

.cover__subtitle {
  text-align: center;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px auto 24px;
}
.footer__navigation {
}
.foorer__navigation-list {
  display: flex;
  list-style: none;
  column-gap: 18px;
  padding: 0;
  margin: 0;
}
.footer__item {
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer__copyright {
  margin: 0;
}
