.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 48px 92px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .lead {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .lead {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 64px;
  }
}
