.place__text {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 600px) {
  .place__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
