.footer__navigation-list {
  display: flex;
  list-style: none;
  column-gap: 19px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 730px) {
  .footer__navigation-list {
    flex-direction: column;
    row-gap: 30px;
  }
}
