.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px auto 24px;
}

@media screen and (max-width: 1100px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 730px) {
  .footer {
    padding-left: 16px;
    padding-right: 0;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 64px;
  }
}
